.slider {
  padding: 0;
}

.slider-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .pic {
    max-width: 705px;
    // max-width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1200px) {
      max-width: 49%;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background: $bordo;
    max-width: 735px;
    // padding: 116px 170px 116px 129px;
    padding: 7.25em 7.185em 7.25em 7.5em;
    @media (max-width: 1200px) {
      max-width: 51%;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      justify-content: center;
      align-items: center;
    }

    .text-top p {
      font-family: $cardo;
      font-size: $_36px;
      font-weight: 400;
      font-style: italic;
      color: $white;
      text-align: start;
      text-transform: capitalize;
      margin-bottom: 37px;
      @media (max-width: 430px) {
        text-align: center;
        line-height: 45px;
        font-size: 24px;
      }
    }

    .text-bottom p {
      font-family: $raleway;
      font-size: $_13px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 0;
      font-style: initial;
      @media (max-width: 430px) {
        text-align: center;
        width: 275px;
        font-size: 12px;
      }
    }
  }
}
